In [ ]:
# Importação das bibliotecas

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
# Carregamento do dataset

# O método load_dataset carrega um arquivo para trabalharmos. O nome do arquivo deve ser um dos nomes que está no seguinte repositório: https://github.com/mwaskom/seaborn-data
# O método copy() faz uma cópia do dataset
df = sns.load_dataset("tips").copy()

# O método head() retorna por padrão as 5 primeiras linhas do arquivo. O parâmetro opcional n indica a quantidade de linhas que queremos que retorne
df.head()

# O método tail funciona de maneira semelhante, porém retorna as últimas linhas do arquivo.
df.tail()

# O método to_csv salva o arquivo carregado com load_dataset localmente no formato csv.
df.to_csv("tips.csv")

In [ ]:
# Características do data frame

# O atributo shape retorna uma tupla contendo a quantidade de linhas e de colunas
print(f"Shape: {df.shape}.")

# O atributo dtypes retorna os tipos de dados das colunas do dataframe.
print(f"Colunas e tipos: {df.dtypes}.")

print(f"\nResumo estatístico (numérico):")
display(df.describe(include="all").T)

Shape: (244, 7).
Colunas e tipos: total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object.

Resumo estatístico (numérico):

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000